<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>QUnit tests</title>

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="bower_components/qunit/qunit/qunit.css">
        <script src="bower_components/qunit/qunit/qunit.js"></script>
		<script src="bower_components/blanket/dist/qunit/blanket.js"></script>

        <!-- below are elements copied automatically using file_include.py script -->
<!-- this file contains sections included during build into html head of test and static html page" -->

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>


<script type="text/javascript" src="js/version.js" data-cover></script>
<script type="text/javascript" src="js/controller1.js" data-cover></script>
</style>

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">


<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 5px}
h3 {margin-right: 100px; margin-left: 70px; letter-spacing: 3px}
.w3-row-padding img {margin-bottom: 12px}
</style>
        <!-- above are elements copied automatically using file_include.py script -->

        <script src="tests/test01_basic.js" data-cover></script>
        <script src="tests/test02_services.js" data-cover></script>

         <STYLE type="text/css">
            .hidden { display: block; }
        </STYLE>

    </head>

    <body style="background: gray;">
        <div id="qunit"></div>
        <div id="qunit-fixture"></div>

        <!-- below are elements copied automatically using file_include.py script -->
<!-- this file contains sections included during build into html body of test and static html page" -->

<a href="http://www.reactivemanifesto.org/"> <img style="border: 0; position: fixed; right: 0; top:0; z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-blue-right.png"> </a>   

<header class="w3-panel w3-padding-128 w3-center w3-opacity">

  <img src="pict/eiti_logo.jpg" width="150" height="150">

  <h1 class="w3-xlarge">ZPR classes. Bayesian website classifier.</h1>

  <h1>Aleksander Piotrowski, Bartłomiej Boczek, Mateusz Dziwulski</h1>
</header>



<div ng-controller="cppController">

	<h3 class="w3-medium">Enter the address of a page you would like to classify</h3>
	<h3 class="w3-medium"><input type="text" ng-model="link" value="en.wikipedia.org/"/></h3>
	<h3 class="w3-medium"><p><button ng-click="getData()">Run!</button></p></h3>

	<h3 class="w3-medium"><p>{{dataFromServer}}</p></h3>
	
</div>

<footer>
  <h3 class="w3-medium"><p>Powered by: <a href="http://bioweb.sourceforge.net/en/index.html">Bioweb </a>  </p></h3>
  <h3 class="w3-medium"><p>Check our repositories:  <a href="https://github.com/mingless">M.Dziwulski, </a> <a href="https://github.com/piotrowskialek">A.Piotrowski, </a> <a href="https://github.com/bboczek">B.Boczek </a></p></h3>
</footer>        <!-- above are elements copied automatically using file_include.py script -->

    </body>

</html>
