<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>QUnit tests</title>

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="bower_components/qunit/qunit/qunit.css">
        <script src="bower_components/qunit/qunit/qunit.js"></script>
		<script src="bower_components/blanket/dist/qunit/blanket.js"></script>

        <!-- below are elements copied automatically using file_include.py script -->
<!-- this file contains sections included during build into html head of test and static html page" -->

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>


<script type="text/javascript" src="js/version.js" data-cover></script>
<!--
<script type="text/javascript" src="js/app.js" data-cover></script>
<script type="text/javascript" src="js/services.js" data-cover></script>
<script type="text/javascript" src="js/controllers.js" data-cover></script>
-->

<script type="text/javascript" src="js/controller1.js" data-cover></script>
<!-- 
<script type="text/javascript" src="js/service.js" data-cover></script>
-->

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}

.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("/home/apiotro/Obrazy/Screenshot from 2016-12-30 22-14-34.png")
    
}

.bgimg {background-image: url("/home/apiotro/Obrazy/Screenshot from 2016-12-30 22-14-34.png")}
.bgimg2 {background-image: url("/home/apiotro/Obrazy/Screenshot from 2016-12-30 22-14-34.png")}
</style>


<!-- <link rel="stylesheet" type="text/css" href="css/styles.css" />
-->	

        <!-- above are elements copied automatically using file_include.py script -->

        <script src="tests/test01_basic.js" data-cover></script>
        <script src="tests/test02_services.js" data-cover></script>

         <STYLE type="text/css">
            .hidden { display: block; }
        </STYLE>

    </head>

    <body style="background: gray;">
        <div id="qunit"></div>
        <div id="qunit-fixture"></div>

        <!-- below are elements copied automatically using file_include.py script -->
<!-- this file contains sections included during build into html body of test and static html page" -->

<!--<div class="container" ng-controller="settingsController">
  <ul id="icons_ul">
	<li ng-repeat="lang in langs">
	  <a id="a_lang_{{lang}}" ng-click="changeLanguage(lang)"><img ng-src="pict/{{lang}}.png" /></a>
	</li>
  </ul>
</div>


<div class = "container" ng-controller="settingsController">
</div>
	
<div id="content" class="container" ng-view>
</div>-->


<div class="w3-display-container bgimg2">
  <div class="w3-display-middle w3-text-white w3-center">
    <img class="w3-round w3-grayscale-min" src="/w3images/wedding_couple2.jpg" style="width:100%;margin:32px 0">
    <h1 class="w3-jumbo">dupa</h1><br>
    <h2>ale java najlepsza xD	</h2>
  </div>
</div>


<div ng-controller="controller1">
	<p><h1 class="w3-jumbo">Enter the address of a page you would like to classify</h1></p>
	<p><input type="text" ng-model="link" /></p>
	<p><button ng-click="sendWebAddress()">Run!</button></p>
	<br><br>
	{{response}}
	<p></p>
	
</div>
<div ng-controller="cppController">
	<p>{{dataFromServer}}</p>
	<p><button ng-click="getData()">DawajxD</button></p>
</div>

        <!-- above are elements copied automatically using file_include.py script -->

    </body>

</html>
